"*":
  "atom-beautify":
    general:
      _analyticsUserId: "f59eb3bc-cebf-4de3-913d-886158f26441"
  core:
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "react"
      "whitespace"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Fira code"
    lineHeight: 2
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "9b42a8b0-29ea-1f96-4fc4-13558247a1ed"
  "file-icons":
    onChanges: true
  linter: {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    lintInlineJavaScript: true
  "linter-lesshint":
    onlyWithRc: true
  "linter-stylelint":
    useStandard: true
  "linter-ui-default": {}
  minimap:
    absoluteMode: true
    minimapScrollIndicator: false
  "tree-view": {}
  welcome:
    showOnStartup: false
